<% provide(:page_title, @partner.name) %>
<% provide(:partner_active, "active") %>

<div class="row d-flex justify-content-center mb-3">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="card" style="width: 100%;">
          <div class="card-block">
            <div class="card-title ml-3 mt-2 text-center">
              <h1><%= @partner.name %></h1>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="partner_body mt-3">
                <div class="banner_image text-center">
                  <%= image_tag(@partner.logo) %>
                </div>
                <br>
                <div class="partner_body_image">
                  <%= @partner.body.html_safe %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <p class="tags mt-3"><%= raw @partner.tags.map { |t| link_to t.name, partners_path(tag: t.name) }.join(', ') %></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
