<div class="why-live-hero container-fluid" style="background-image: url(https://s3.amazonaws.com/united-way-greater-valdosta/foodkitchen2.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="hero-info dark-blue-bg">
          <h1>Why Live United?</h1>
          <p></p>
          <p>Because we can make a greater impact together.</p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
