<div class="overlay2 container-fluid d-flex justify-content-center">
  <div id="navi-parent">
    <div id="navi">
      <h2>Our Impact</h2>
    </div>
  </div>
</div>
<div class="our_impact container-fluid text-center pt-3 pb-4">
  <div class="container">
  	<p>
      Together, we will improve our community starting at its roots with long-term
  	  solutions focused on Education, Income Stability, and Health and Wellness – the building blocks
  	  to better lives and stronger communities.
     </p>
   </div>
</div>
