<div class="overlay1 container-fluid d-flex justify-content-center pt-4">
  <div id="navi-parent">
    <div id="navi">
      <h2>Together, We Live United.</h2>
    </div>
  </div>
</div>
<div class="together container-fluid pt-5 pb-4">
  <div class="container text-center">
    <p>
      Greater Valdosta United Way is a leader in bringing donors, volunteers, and
  		community organizations together to solve critical problems in our five-county region.
  		We invest in three key areas: assuring children and youth have the support and experiences
  		needed for a successful life and career, increasing the number of financially stable
  		households and providing a safety net for vulnerable populations, and striving to improve
  		and sustain the community's overall health and wellness. We leverage community resources
  		and monitor results to maximize donor dollars. It’s giving…the United Way!
    </p>
  </div>
</div>
