@import "bootstrap";

[class*="fa-"] {
  font-size: 128px;
  color: #333333;
  text-decoration: none;
}
.hero {
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 600px;
  margin-top: -50px;
  .hero_row {
    height: 600px;
    h1, p {
      color: #fff !important;
    }
    h1 {
      font-size: 45px;
    }
    p {
      font-size: 30px;
    }
  }
}
.counters {
  background-color: #fff;
  padding-top: 90px;
  padding-bottom: 90px;
  .campaign, .partners {
    margin-top: 75px;
  }
  .number_counter {
    span {
      font-size: 35px;
    }
    p {
      font-size: 24px;
    }
  }
}
.whatwedo {
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 18px;
  }
}
.events {
  h1 {
    font-size: 40px;
  }
}
.focusareas {
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 18px;
  }
  .econ, .heart {
    margin-top: 45px;
  }
}
.getinvolved {
  h1 {
    font-size: 40px;
  }
  .card {
    .card-topper {
      height: 200px;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    h2 {
      font-size: 25px;
    }
    p {
      font-size: 18px;
    }
  }
  .advocate, .volunteer {
    margin-top: 45px;
  }
}

@include media-breakpoint-up(sm) {
  .focusareas {
    .econ, .heart {
      margin-top: 0;
    }
  }
}

@include media-breakpoint-up(md) {
  .hero {
    .hero_row {
      h1 {
        font-size: 85px;
      }
      p {
        font-size: 35px;
      }
    }
  }
  .counters {
    .campaign, .partners {
      margin-top: 0;
    }
    .number_counter {
      span {
        font-size: 50px;
      }
      p {
        font-size: 18px;
      }
    }
  }
  .getinvolved {
    .card {
      .card-topper {
        height: 375px;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .hero {
    height: 660px;
    .hero_row {
      height: 600px;
      h1 {
        font-size: 125px;
      }
      p {
        font-size: 40px;
      }
    }
  }
  .whatwedo {
    h1 {
      font-size: 55px;
    }
    p {
      font-size: 24px;
    }
  }
  .events {
    h1 {
      font-size: 55px;
    }
  }
  .focusareas {
    h1 {
      font-size: 55px;
    }
    p {
      font-size: 24px;
    }
  }
  .getinvolved {
    h1 {
      font-size: 55px;
    }
    .card {
      .card-topper {
        height: 200px;
      }
    }
    .advocate, .volunteer {
      margin-top: 0;
    }
  }
}

@include media-breakpoint-up(xl) {

}
