@import "bootstrap";
@import "util";

.statement {
  background-color: #fff;
  p {
    font-size: 16px !important;
  }
}
.areas {
  .card {
    border: none;
    border-radius: 0;
    height: 400px;
    margin-bottom: 20px;
    background-color: white;
    .card-topper {
      height: 200px !important;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    .card-block {
      padding: 10px;
      .card-title {
        font-size: 1.3rem;
        margin-bottom: 0.3rem;
        a {
          color: black;
          text-decoration: none;
        }
      }
      .card-text {
        font-size: 0.9rem !important;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .hero_overlay {
    height: 600px;
    margin-top: -50px;
    .hero-info {
      height: 600px;
      padding-top: 150px;
      padding-bottom: 20px;
      h1 {
        font-size: 72px;
      }
    }
  }
}
