<% provide(:page_title, "All News Posts") %>
<% provide(:author_news, "active") %>

<div class="row">
  <%= render 'authors/navigation/navigation_bar' %>
  <div class="col-md-8">
    <div>
      <%= link_to 'New News Post', new_authors_news_path, class: 'btn btn-primary' %>
    </div>
    <br>
    <br>
    <table class="table table-striped">
      <tr>
        <th colspan="5">News Title</th>
      </tr>
      <%= render @news %>
    </table>
    <div class="apple_pagination">
      <%= will_paginate @news, container: false %>
    </div>
  </div>
</div>
