<div class="counters container-fluid">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="number_counter">
        <span class="count">705</span>
        <p>individuals served due to domestic abuse.</p>
      </div>
    </div>
    <div class="col-md-4 campaign">
      <div class="number_counter">
        <span class="count">1000000</span>
        <p>2019 campaign goal.</p>
      </div>
    </div>
    <div class="col-md-4 partners">
      <div class="number_counter">
        <span class="count">228013</span>
        <p>food pantry/meal services provided.</p>
      </div>
    </div>
  </div>
</div>

<script>
  var num = $(".count");
  $('.count').each(function () {
      $(this).prop('Counter',0).animate({
          Counter: $(this).text()
      }, {
          duration: 4000,
          easing: 'swing',
          step: function (now) {
              $(this).text(commaSeparateNumber(Math.ceil(now)));
          }
      });
  });

  function commaSeparateNumber(val){
    while (/(\d+)(\d{3})/.test(val.toString())){
      val = val.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
    }
    return val;
  }
</script>
