<div class="events_partial container-fluid mt-5">
  <div class="events_overlay container d-flex justify-content-center">
    <div id="navi-parent">
      <div id="navi">
        <h1>Events</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <h1>Test</h1>
  </div>
</div>
