<div class="focusareas container my-5">
  <div class="text-center">
    <h1>Our Focus Areas</h1>
    <p>We're improving lives and empowering families to succeed by uniting
      around education, economic prosperity, and health -- the cornerstones of
      a strong, equitable community.</p>
  </div>
  <div class="row text-center mt-5">
    <div class="col-sm-4">
      <a href="#">
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      </a>
      <a href="#">
        <p>Education</p>
      </a>
    </div>
    <div class="col-sm-4 econ">
      <a href="#">
        <i class="fa fa-tree" aria-hidden="true"></i>
      </a>
      <a href="#">
        <p>Economic Prosperity</p>
      </a>
    </div>
    <div class="col-sm-4 heart">
      <a href="#">
        <i class="fa fa-heartbeat" aria-hidden="true"></i>
      </a>
      <a href="#">
        <p>Health</p>
      </a>
    </div>
  </div>
</div>
