<div class="getinvolved container mt-5">
  <div class="text-center">
    <h1>Get Involved</h1>
  </div>
  <div class="row text-center mt-5">
    <div class="col-sm-4">
      <i class="fa fa-usd" aria-hidden="true"></i>
      <h2>Give</h2>
      <p>Every dollar matters. Your generosity funds work that makes positive, sustainable change possible.</p>
      <div class="button-container">
        <button type="button" class="btn btn-primary" href="#" id="learnMoreButton">Learn More</button>
      </div>
    </div>
    <div class="col-sm-4 econ">
      <i class="fa fa-volume-up" aria-hidden="true"></i>
      <h2>Advocate</h2>
      <p>Your voice is powerful. Raise awareness about causes that affect critical public policies.</p>
      <div class="button-container">
        <button type="button" class="btn btn-primary" href="#" id="advocateButton">Learn More</button>
      </div>
    </div>
    <div class="col-sm-4 heart">
      <i class="fa fa-users" aria-hidden="true"></i>
      <h2>Volunteer</h2>
      <p>Sharing your time is invaluable. Join the thousands of volunteers using their talents to impact lives every day.</p>
      <div class="button-container">
        <button type="button" class="btn btn-primary" href="#" id="volunteerButton">Learn More</button>
      </div>
    </div>
  </div>
</div>
