<div class="getinvolved container mt-3">
  <div class="getinvolved_overlay container d-flex justify-content-center">
    <div id="navi-parent">
      <div id="navi">
        <h1>Get Involved</h1>
      </div>
    </div>
  </div>
  <div class="row text-center mt-4 mb-5">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-topper" style="background-image: url(https://s3.amazonaws.com/united-way-greater-valdosta/uw-give.jpg);"></div>
        <div class="card-body">
          <h2>Give</h2>
          <p>Every dollar matters. Your generosity funds work that makes positive, sustainable change possible.</p>
          <div class="button-container">
            <button type="button" class="btn btn-primary" href="#" id="learnMoreButton">Learn More</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 advocate">
      <div class="card">
        <div class="card-topper" style="background-image: url(https://s3.amazonaws.com/united-way-greater-valdosta/uw-advocate.jpg);"></div>
        <div class="card-body">
          <h2>Advocate</h2>
          <p>Your voice is powerful. Raise awareness about causes that affect critical public policies.</p>
          <div class="button-container">
            <button type="button" class="btn btn-primary" href="#" id="advocateButton">Learn More</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 volunteer">
      <div class="card">
        <div class="card-topper" style="background-image: url(https://s3.amazonaws.com/united-way-greater-valdosta/uw-volunteer.jpg);"></div>
        <div class="card-body">
          <h2>Volunteer</h2>
          <p>Sharing your time is invaluable. Join the thousands of volunteers using their talents to impact lives every day.</p>
          <div class="button-container">
            <button type="button" class="btn btn-primary" href="#" id="volunteerButton">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
