<div class="hero container-fluid" style="background: url('https://s3.amazonaws.com/brando085-ss/uploads/schoolkids2.jpg') center center;">
  <div class="row hero_row">
    <div class="col align-self-center text-center">
      <h1>
        Live
        <span style="color: #ff8000;">United</span>.
      </h1>
      <p>Give. Advocate. Volunteer.</p>
    </div>
  </div>
</div>
