<div class="whatwedo container mt-5">
  <div class="text-center">
    <h1>What We Do</h1>
    <p class="mt-4">At Greater Valdosta United Way, we're striving to create a better
      community for all. The Greater Valdosta United Way serves Berrien,
      Brooks, Echols, Lanier, and Lowndes counties. Our focus is creating
      lasting change in our region in South Georgia. We start with individuals
      just like you and add the magic of volunteer support, corporate matching
      gifts, and grant dollars. When combined, these resources can create real
      change in our region. Your gift stays local, making a difference in our
      community. That&#39;s the United Way!
    </p>
  </div>
</div>
