<div class="areas container py-5">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-topper" style="background-image: url(https://s3.amazonaws.com/united-way-greater-valdosta/uw-education-icon.png);"></div>
        <div class="card-body">
          <h2>Education</h2>
          <p>Assure children and youth have the support and experiences needed for a successful life and career.</p>
          <div class="button-container">
            <button type="button" class="btn btn-primary" href="#" id="learnMoreButton">Learn More</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-topper" style="background-image: url(https://s3.amazonaws.com/united-way-greater-valdosta/uw-income.png);"></div>
        <div class="card-body">
          <h2>Income</h2>
          <p>Increase the number of financially stable households in our communities.</p>
          <div class="button-container">
            <button type="button" class="btn btn-primary" href="#" id="learnMoreButton">Learn More</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-topper" style="background-image: url(https://s3.amazonaws.com/united-way-greater-valdosta/uw-lunch.png);"></div>
        <div class="card-body">
          <h2>Health</h2>
          <p>Improve and sustain the community's overall health and wellness.</p>
          <div class="button-container">
            <button type="button" class="btn btn-primary" href="#" id="learnMoreButton">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
