<div class="hero_overlay container-fluid" style="background-image: url(https://s3.amazonaws.com/united-way-greater-valdosta/what_we_do.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="hero-info dark-blue-bg">
          <h1>What We Do</h1>
          <p></p>
          <p>We do some really good things. I need to ellaborate on what they are later.</p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
