<div class="statement container-fluid pt-5 pb-4">
  <div class="container">
    <p>
      Everyone deserves opportunities to have a good life: a quality education
      that leads to a stable job, enough income to support a family through
      retirement, and good health.  We stand for helping, hopefulness, and optimism.
      We create, invest in, and facilitate partnerships to effect maximum community
      impact. We address critical community needs.  That’s why the Greater
      Valdosta United Ways’ work is focused on the building blocks for a good
      life: Education, Income, and Health.
    </p>
    <p>
      The United Way has adopted three Community Goals that keep education,
      income, and health in mind, while providing the sharpened focus necessary
      for creating the kind of strategic investments and actions that can make a
      bigger difference in the lives of our community members.  We can improve
      lives by activating the caring power of the community to achieve those goals
      that will create lasting changes in community conditions.
    </p>
  </div>
</div>
