<% provide(:page_title, "United Way for Berrien, Brooks, Echols, Lowndes, & Lanier County, GA") %>
<% provide(:home_active, "active") %>

<div class="hero container-fluid" style="background: url('https://s3.amazonaws.com/brando085-ss/uploads/schoolkids2.jpg') center center;">
  <div class="row hero_row">
    <div class="col align-self-center text-center">
      <h1>
        Live
        <span style="color: #ff8000;">United</span>.
      </h1>
      <p>Give. Advocate. Volunteer.</p>
    </div>
  </div>
</div>

<div class="whatwedo container mt-5">
  <div class="text-center">
    <h1>What We Do</h1>
    <p class="mt-4">At Greater Valdosta United Way, we're striving to create a better
      community for all. The Greater Valdosta United Way serves Berrien,
      Brooks, Echols, Lanier, and Lowndes counties. Our focus is creating
      lasting change in our region in South Georgia. We start with individuals
      just like you and add the magic of volunteer support, corporate matching
      gifts, and grant dollars. When combined, these resources can create real
      change in our region. Your gift stays local, making a difference in our
      community. That&#39;s the United Way!
    </p>
  </div>
</div>

<div class="events container mt-5">
  <div class="text-center">
    <h1>News & Events</h1>
  </div>
  <div id="carouselExampleFade" class="carousel slide carousel-fade mt-4" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="http://www.philosopher.eu/wp-content/uploads/2015/03/plant-1680x500.png" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="http://www.capaymentsystems.com/wp-content/uploads/2014/11/japanese_food-wallpaper-1680x1050-1680x500.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="http://itp-projects.com/wp-content/uploads/2018/02/20180113-Bubuja-1680x500.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="focusareas container my-5">
  <div class="text-center">
    <h1>Our Focus Areas</h1>
    <p>We're improving lives and empowering families to succeed by uniting
      around education, economic prosperity, and health -- the cornerstones of
      a strong, equitable community.</p>
  </div>
  <div class="row text-center mt-5">
    <div class="col-sm-4">
      <%= octicon "mortar-board" %>
      <a href="#">
        <p>Education</p>
      </a>
    </div>
    <div class="col-sm-4 econ">
      <a href="#">
        <i class="fa fa-tree" aria-hidden="true"></i>
      </a>
      <a href="#">
        <p>Economic Prosperity</p>
      </a>
    </div>
    <div class="col-sm-4 health">
      <a href="#">
        <i class="fa fa-heartbeat" aria-hidden="true"></i>
      </a>
      <a href="#">
        <p>Health</p>
      </a>
    </div>
  </div>
</div>
