<% provide(:page_title, "United Way for Berrien, Brooks, Echols, Lowndes, & Lanier County, GA") %>
<% provide(:home_active, "active") %>

<div class="hero">
  <div class="container-fluid" style="background-image: url('https://images.pexels.com/photos/1205301/pexels-photo-1205301.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
    <h1>You're at Home!</h1>
  </div>
</div>
