<% provide(:page_title, "#{@campaign.year} Annual Campaign") %>
<% provide(:campaign_active, "active") %>

<div class="row d-flex justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card" style="width: 100%;">
          <div class="card-block">
            <div class="card-title ml-3 mt-2">
              <h1><%= @campaign.year %> Annual Campaign</h1>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <p class="published mt-3"><%= @campaign.display_day_published %></p>
            </li>
            <li class="list-group-item">
              <div class="campaign_body mt-3">
                <div>
                  <%= @campaign.body.html_safe %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <p class="tags mt-3"><%= raw @campaign.tags.map { |t| link_to t.name, campaigns_path(tag: t.name) }.join(', ') %></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
