<tr>
  <td><%= link_to news.title, author_news_path(news) %></td>
  <td><%= link_to 'Edit', edit_author_news_path(news) %></td>
  <td><%= link_to 'Remove', author_news_path(news), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
