<% provide(:page_title, "All News Posts") %>
<% provide(:blog_active, "active") %>

<div class="row">
  <table class="table table-striped">
    <tr>
      <th>Title</th>
    </tr>
    <%= render @news %>
  </table>
</div>
