<div class="col-lg-4 col-sm-6">
  <div class="card">
    <div class="card-topper" style="background-image: url(<%= staff_member.member_image %>);"></div>
    <div class="card-block">
      <h4 class="card-title"><%= staff_member.name %></h4>
      <p class="card-text"><%= staff_member.position %></p>
      <p class="card-text"><%= staff_member.description %></p>
    </div>
  </div>
</div>
