<% provide(:page_title, "New Board Member") %>
<% provide(:board_member, "active") %>


  <div class="col-md-6 offset-md-3 mb-3">
    <%= render 'form', news: @member, url: authors_board_members_url %>
  </div>
