<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
    <div>
      <p>Greater Valdosta United Way</p>
      <p>210 West Park Ave.</p>
      <p>Valdosta, GA 31602</p>
    </div>
  </body>
</html>
